#kerjasamadalam {
  padding: 60px 0;
  .kerjasamadalam-h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 80px;
    span {
      color: #5c78d8;
    }
  }
}
