.carousel-inner {
  .carousel-item {
    .carousel-caption {
      margin-bottom: 250px;
      .mlm-h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 90px;
        /* identical to box height */
        text-align: left;
        color: #ffffff;
      }
      .mlm-h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 90px;
        color: #c7945e;
        text-align: left;
      }
      .mlm-h3 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 90px;
        text-align: left;

        color: #ffffff;
        span {
          color: #9fb8fd;
        }
      }
    }
  }
}
