@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@800&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Poppins:wght@800&family=Roboto:wght@500&display=swap");

.carousel {
  height: 787px;
  width: 100%;

  p {
    width: 498px;
    padding-bottom: 36px;
  }
}

#carouselExampleCaptions {
  height: 100%;
  width: 100%;

  .carousel-caption {
    z-index: 1;
    top: 264px;
    bottom: 281px;
    left: 60px;
    right: 60px;
    text-align: left;

    h5 {
      font-size: 48px;
      font-weight: 700;
      font-family: poppins;
      padding-bottom: 10px;
    }

    button {
      width: 177px;
      height: 52px;
      background-color: #bf8b2e;
      border: none;
      border-radius: 10px;
      font-weight: 600;
      font-family: inter;

      &:hover {
        background-color: #80571a;
      }
    }
  }

  .carousel-indicators {
    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #e8e8e8;
    }

    .active {
      width: 10px;
      height: 10px;
      background-color: #bf8b2e;
    }
  }

  .carousel-item {
    background: black;

    img {
      opacity: 0.5;
      width: 100%;
    }
  }
}
@media only screen and (max-width: 600px) {
  .carousel-caption p {
    width: 380px;
    text-align: justify;
  }

  .carousel-item img {
    height: 100vh;
  }
}
