.navbar {
  padding: 18px 0;
  .nav-item {
    .dropdown-menu {
      .dropdown-item {
        font-family: Poppins;
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        &:hover {
          color: #7f9efc;
        }
      }
    }
    .nav-link {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      &:hover {
        color: #7f9efc;
      }
    }

    .active {
      color: #7f9efc !important;
    }
  }
  .btn-pendaftaran {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
    background: #4057b5;
    border-radius: 6px;
    width: 160px;
    height: 56px;
  }
}
