#footer {
  background: #4057b5;
  padding-top: 60px;
  hr {
    border: 1px solid;
    color: #b2c9fe;
  }
  .akhir-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #ffffff;
  }
  .footer-h5 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 24px;
  }
  .footer-p {
    margin-top: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #ffffff;
  }

  .link-sosmed {
    text-decoration: none;
    .kontak-p {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      color: #ffffff;
    }
  }
    
  .link-a {
    text-decoration: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #ffffff;
    &:hover {
      color: #7f9efc;
    }
  }
}
