#struktur {
    background: #e5eefe;
    .card {
      margin: 60px 0;
      border-color: white;
      background: #ffffff;
      border-radius: 8px;
      .card-body {
        padding: 60px;

        .card-title {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            /* identical to box height */
            margin-bottom: 80px;
            text-align: center;
            color: #000000;
          }
      }
    }
  }
  